body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* LAYOUT */
.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #1a120d;;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin: 10px 0;
    padding: 8px;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #5a3e2b;
    color: white;
}

/* MAIN */
.main {
    flex: 1;
    background: #2b1d14;   /* SAME AS YOUR SITE */
    padding: 20px;
    color: #fff;
}

/* TOPBAR */
.topbar {
    margin-bottom: 20px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: white;   /* lighter than bg */
    color:#3b2a1f;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.08);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
.card h3 {
    margin-bottom: 10px;
}