<!DOCTYPE html>
<html>
<head>
    <title>About Royal Enfield</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>

<a href="javascript:history.back()" class="back-btn">← Back</a>

<!-- INTRO SECTION -->
<section class="intro-section">

    <div class="intro-container">

        <!-- LEFT IMAGE -->
        <div class="intro-image">
            <img src="{{ url_for('static', filename='images/rf.png') }}">
        </div>

        <!-- RIGHT CONTENT -->
        <div class="intro-text">
            <h2>Our History</h2>

            <p>
                Founded in 1901, Royal Enfield is one of the oldest motorcycle brands in continuous production.
                It represents timeless design, durability, and a strong riding culture.
            </p>

            <p>
                From its origins in England to becoming a global icon in India, Royal Enfield has always stood
                for reliability, simplicity, and adventure.
            </p>

            <p>
                Today, it continues to blend heritage with modern engineering, creating motorcycles that
                connect generations of riders.
            </p>

        </div>

    </div>

</section>

<!-- FEATURES -->
<!-- <section class="section">
    <h2>Why Choose Royal Enfield?</h2>

    <div class="features">
        <div class="box">Classic Design</div>
        <div class="box">Adventure Ready</div>
        <div class="box">Global Community</div>
    </div>
</section> -->

<section class="section">
    <h2>Why Choose Royal Enfield?</h2>

    <div class="features">

        <div class="feature-circle">
            <!-- <span>01</span> -->
            <h3>Classic Design</h3>
            <p>Timeless motorcycles with heritage styling.</p>
        </div>

        <div class="feature-circle">
            <!-- <span>02</span> -->
            <h3>Adventure Ready</h3>
            <p>Perfect for touring and off-road rides.</p>
        </div>

        <div class="feature-circle">
            <!-- <span>03</span> -->
            <h3>Powerful Engine</h3>
            <p>Strong and reliable performance.</p>
        </div>

        <div class="feature-circle">
            <!-- <span>04</span> -->
            <h3>Comfort Riding</h3>
            <p>Designed for long journeys.</p>
        </div>

        <div class="feature-circle">
            <!-- <span>05</span> -->
            <h3>Global Community</h3>
            <p>Worldwide passionate riders.</p>
        </div>

        <div class="feature-circle">
            <!-- <span>06</span> -->
            <h3>Easy Maintenance</h3>
            <p>Simple and affordable service.</p>
        </div>

    </div>
</section>
<!-- JOURNEY GRID -->
<section class="section">
    <h2>Royal Enfield Journey</h2>

    <div class="timeline-grid">

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/1891.png') }}">
            <h3>1891</h3>
            <p>R.W. Smith & Albert Eadie take over Townsend Cycle Company.</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/1893.png') }}">
            <h3>1893</h3>
            <p>Becomes Royal Enfield. "Made Like a Gun".</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/1898.png') }}">
            <h3>1898</h3>
            <p>Royal Enfield design ready year</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/1901.png') }}">
            <h3>1901</h3>
            <p>First motorcycle launched</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/1932.png') }}">
            <h3>1932</h3>
            <p>Bullet introduced year</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/1955.png') }}">
            <h3>1955</h3>
            <p>Enfield India formed year</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/1993.png') }}">
            <h3>1993</h3>
            <p>Royal enfield world First diesel motorcycle introduced year.</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2012.png') }}">
            <h3>2012</h3>
            <p>Thunderbeard launched year</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2013.png') }}">
            <h3>2013</h3>
            <p>Royal Enfield enter the tamilnadu introduced year.</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2015.png') }}">
            <h3>2015</h3>
            <p>Royal Enfield stablish in north America birth year.</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2016.png') }}">
            <h3>2016</h3>
            <p>Himalayan launched</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2017.png') }}">
            <h3>2017</h3>
            <p>The Royal Enfield Technology Centre (UKTC) opens at Bruntingthorpe </p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2018.png') }}">
            <h3>2018</h3>
            <p>The Royal Enfield Classic 500 Pegasus launched</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2019.png') }}">
            <h3>2019</h3>
            <p>With design cues taken from the 1140cc KX V-twins of the late 1930’s, the 838cc KX Concept V-twin demonstrates the capabilities of the design team at the UK Technology Centre</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2020.png') }}">
            <h3>2020</h3>
            <p>Production of the 500cc UCE engine comes to an end. Its swansong is the limited edition Classic 500 Tribute Black.</p>
        </div>

        

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2021.png') }}">
            <h3>2021</h3>
            <p>120 years celebration</p>
        </div>

        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2022.png') }}">
            <h3>2022</h3>
            <p>The Hunter 350, the newest Royal Enfield, is introduced to the world</p>
        </div>
        
        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2023.png') }}">
            <h3>2023</h3>
            <p>The launch of the Super Meteor 650</p>
        </div>
        
        <div class="timeline-item">
            <img src="{{ url_for('static', filename='images/2024.png') }}">
            <h3>2024</h3>
            <p>Himalayan launched</p>
        </div>
        
        </div>

    </div>

</section>

</body>
</html>