<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>

<body>
<a href="javascript:history.back()" class="back-btn">← Back</a>
<div class="auth-container">
    <div class="auth-box">

        <h2>Admin Login</h2>

        <form method="POST">

            <div class="input-group">
                <input type="text" name="username" placeholder="Username" required>
            </div>

            <div class="input-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>

            <button type="submit" class="auth-btn">Login</button>

        </form>

    </div>
</div>

</body>
</html>