<!DOCTYPE html>
<html>
<head>
    <title>Services</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
</head>

<body>
    <a href="javascript:history.back()" class="back-btn">← Back</a>
<h1 class="title">Our Services</h1>

<div class="service-container">

{% for service in services %}
<div class="service-box">

    <img src="{{ url_for('static', filename='images/' + service['image']) }}">

    <h2>{{ service['name'] }}</h2>

    <p>{{ service['description'] }}</p>

    <p><b>Price:</b> ₹{{ service['price'] }}</p>

    <a href="/book_service/{{ service['id'] }}" class="btn">Book Service</a>

</div>
{% endfor %}

</div>

</body>
</html>